<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domaji.practice.member.dao.MemberMapper">

    <resultMap id="memberResultMap" type="MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="id" column="ID"/>
        <result property="pwd" column="PWD"/>
        <result property="name" column="NAME"/>
        <result property="birth" column="BIRTH"/>
        <result property="email" column="EMAIL"/>
    </resultMap>

    <insert id="insertMember" parameterType="HashMap">
        INSERT
          INTO TBL_MEMBER
        (
          ID
        , PWD
        , NAME
        , BIRTH
        , EMAIL
        )
        VALUES
        (
          #{id}
        , #{pwd}
        , #{name}
        , #{birth}
        , #{email}
        )
    </insert>

    <select id="getMember" resultMap="memberResultMap">
        SELECT
               *
          FROM TBL_MEMBER
         WHERE ID = #{id}
    </select>

    <select id="duplication" resultType="_int">
        SELECT
               COUNT(*)
          FROM TBL_MEMBER
         WHERE ID = #{id}
    </select>
</mapper>